<h1>Dictionary!</h1>

<% if @words.length > 0 %>
  <ul><h3>Your words:</h3>
    <% @words.each() do |word| %>
      <li> <a href='/words/<%= word.id() %>'> <%= word.name() %> </a> </li>
    <% end %>
  </ul>
<% end %>

<h3><a href="/words/new">Add a Word!</a></h3>
