<h1> <%= @word.name() %> </h1>

<% if @word.definitions().length() > 0 %>
  <ul>

  <% @word.definitions().each() do |definition| %>
    <li> <%= definition.phrase() %> </li>
  <% end %>
  </ul>
<% end %>

<h3>Add a definition to <%=@word.name()%></h3>

<form action="/definitions" method="post">
  <fieldset class="form-group">
    <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>
    <label for="definition">Definition:</label>
    <input type="text" class="form-control" name="definition" id="definition" placeholder="definition goes here">
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>

<h3><a href='/'>See all Words</a></h3>
